.General-container {
    background: white;
    color: black;
    max-height: 80vh;
    padding: 24px;
    overflow: auto;
    height: 100%;
    font-size: 18px;
    font-family: sans-serif;
}

.General-paragraph {
    margin: 12px 0;
}

.General-heading {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-top: 18px;
}

.General-heading a{
    color: #6052B3;
    text-decoration: none;
}
.General-paragraph a{
    color: #6052B3;
    text-decoration: none;
}

.General-githubLogo {
    width: 30px;
    height: 30px;
    margin-left: 12px;
}

.General-githubImage {
    width: 66%;
    margin: auto;
    display: flex;
    border: solid lightgrey 1px;
}

.General-pictureChunkImage {
    width: 33%;
    margin: auto;
    border: solid #0f1017 6px;
    border-radius: 4px;
}

.General-pictureChunk {
    display: flex;
    flex-wrap: wrap;
}

.githubImage {
    width: 50%;
}